*,
*::before, 
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-clr: rgb(236, 232, 226);
  --highlight: rgb(237, 190, 72);
  --highlight2: rgb(238, 205, 120);
  --transition: all 250ms ease-out;
  --transition2: all 350ms ease-in-out;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
  font-family: "Heebo", sans-serif;
  color: var(--font-clr);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4)), url('https://avatars.mds.yandex.net/get-kinopoisk-image/4486362/6cfb5e3c-53d5-4aec-8e56-e72ef53cf060/3840x'), url("bg.webp");
  background-size: cover;
  background-position: center;
  backdrop-filter: blur(1px);
}

.movie-card {
  background:linear-gradient(180deg,rgb(42, 42, 42) 0%, rgb(34, 34, 34) 35%, rgba(0, 0, 0, 1) 100%);
  border-radius: 6px;
  padding: 2.8rem;
  width: min(60rem, 95vw);
  box-shadow: 0 0 15px 3px wheat;
}

.title-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

h1 span {
  font-size: 1.5rem;
}

.genre {
  font-size: 1.1rem;
  color: var(--highlight);
}

.rating {
  font-size: 1.1rem;
}

.rating span {
  color: var(--highlight);
  font-weight: 800;
}

.description-container {
  display: flex;
  gap: 2.5rem;
}

.movie-poster {
  max-width: 300px;
  min-width: 200px; 
  cursor: pointer;
}

.movie-poster img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 6px;
  transition: var(--transition2);
}

.movie-poster img:hover {
  box-shadow: 0 0 8px 1px wheat;
}

.movie-description {
  display: flex;
  flex-direction: column;
}

.synopsis {
  margin-bottom: 2rem;
  padding-right: 5rem;
}

.cast-and-crew {
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;
}

.cast-and-crew h3 {
  line-height: 2;
}

.cast-and-crew li {
  list-style: none;
  font-size: 0.85rem;
  color: var(--highlight);
  line-height: 1.5;
}

.cast-and-crew li a {
  color: var(--highlight);
}

.cast-and-crew li a:hover {
  color: var(--highlight2);
}

.more {
  font-weight: 650;
  margin-top: 1rem;
  text-decoration: underline;
}

.cast-and-crew a {
  text-decoration: none;
}

.buttons {
  display: flex;
  margin-top: auto;
  justify-content: right;
}

.buttons button {
  text-transform: uppercase;
  height: 2.3rem;
  border-radius: 2rem;
  border: 2px solid var(--highlight);
  transition: var(--transition);
  cursor: pointer;
}

.buttons button:first-child {
  background-color: var(--highlight);
  font-weight: 600;
  margin-right: 6px;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}

.fa-circle-play {
  font-size: 2.1rem;
  margin-left: 8px;
}

.buttons button:last-child {
  background-color: transparent;
  color: var(--highlight);
  font-weight: 600;
  padding-inline: 1rem;
}

.buttons a {
  text-decoration: none;
  color: var(--highlight);
  transition: var(--transition);
}

.buttons button:first-child:hover {
  background-color: var(--highlight2);
  border: 2px solid var(--highlight2);
  color: black;
}

.buttons .buy:hover {
  border: 2px solid var(--highlight2);
  background-color: var(--highlight2);
  color: black;
}

.modal {
  display: none;
  position: fixed; 
  z-index: 100; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}
.modal.open {
  display: block;
}

body.modal-open {
  overflow: hidden;
}

.close {
  position: absolute;
  right: 2rem;
  top: 2rem;
  font-size: 2.5rem;
  color: var(--highlight);
  opacity: 0.6;
  transition:  var(--transition);
  cursor: pointer;
}
.close:hover {
  opacity: 0.9;
}

.modal-container {
  height: 90vh;
  width: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-content {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: var(--transition2);
}
.modal-content.modal-open {
  opacity: 1;
}

.trailer {
  opacity: 0;
  pointer-events: none;
  aspect-ratio: 16/9;
  width: min(80vw, calc(16 / 9 * 90vh)); 
  max-height: 90vh;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: var(--transition2);
}
.trailer.modal-open  {
  opacity: 1;
}
